@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
}


.CreateUser {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowUserDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateUserInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowUsers {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

/* UserList Styles */
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.user-card {
  text-align: left;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 0;
}

.card-container {
  margin: 0;
  border-radius: 80px;
  border: solid 1px rgb(232, 232, 232);
  overflow: hidden;
  width: 90px;
  height: 90px;
  position: relative;
}

.card-container img {
  width: 100%;
}

.desc {
  padding: 10px;
}

.desc h2 {
  font-size: .8em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: .8em;
}

@media (min-width: 991px){
  .user-card {
    text-align: center;
    width: 22%;
    flex-direction: column;
    margin-right: 10px;
  }

  .list {
    flex-direction: row;
  }

  .card-container {
    margin: 0 auto;
  }
}