@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --purple: #15074e;
  --deep-purple: #221169;
  --light-purple: #a090e2;
  --light-purple2: #e9e3ff;
  --gray: #5d557c;
  --light-gray: #eaeaea;
  --wht: #f9fafe;
  --bluish: #4644b4;
  --purplish: #4B0082;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 0.1s;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--wht);
}
.btn {
  border-radius: 2rem;
}

.btn-purple-va {
  font-weight: 400;
  color: var(--wht);
  background: var(--deep-purple);
  border-color: var(--deep-purple);
  border-radius: 2rem;
  padding: 8px 12px;
}

.btn-purple-va:hover {
  color: var(--wht);
  background: var(--light-purple);
  border-color: var(--light-purple);
}

.btn-purple-vb {
  font-weight: 600;
  color: var(--wht);
  background: var(--light-purple);
  border-color: var(--light-purple);
  border-radius: 2rem;
}

.btn-purple-vb:hover {
  color: var(--wht);
  background: var(--gray);
  border-color: var(--gray);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fw-900 {
  font-weight: 900;
}

.body {
  font-family: 'Montserrat', sans-serif;
  color: var(--purple);
  background-color: var(--wht);
  padding-bottom: 60px;}

.main-layout {
  display: flex;
  margin-bottom: 60px;
}
.aside {
  display: none;
  justify-content: flex-end;
  background: var(--wht);
  width: 160px;
  min-width: 10vw;
}

.aside .tab {
  width: 100%;
  height: 110px;
  margin-left: 20px;
  background: white;
  box-shadow: -20px 0 20px rgba(0, 0, 0, 0.101);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 10px;
  position: relative;
}

.aside .tab .bubble {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  background: var(--purple);
  color: var(--wht);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout .content {
  width: 100vw;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--wht);
}

.header-content {
  background-color: var(--purple);
  background: linear-gradient(149deg, var(--purple) 0%, var(--purplish) 50%, var(--bluish) 100%);
  color: var(--wht);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 3rem;
}

.header-content a {
  color: var(--wht);
}
.header-content a:hover {
  color: var(--light-purple);
  text-decoration: none;
}

.header-content h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: unset;
  display: flex;
  align-items: center;
}

.header-content h3 svg {
  background: var(--light-purple2);
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  width: 32px;
  margin-right: 10px;
}
.header-content p {
  color: var(--light-purple);
  margin-bottom: unset;
}

.header-content img {
  border-radius: 80px;
  width: 50px;
  margin-right: 10px;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-content .right-side {
  display: flex;
}

.right-side .btn-purple {
  background: var(--light-purple);
  text-align: center;
  color: var(--wht);
  padding: 8px 40px;
}
.right-side .btn-purple:hover {
  background: var(--gray);
}

.ShowUserDetails {
  background-color: #fff;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: var(--purple);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.101);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ShowUsers,
.CreateUser,
.UpdateUserInfo {
  background-color: #fff;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: var(--purple);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.101);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.CreateUser .avatar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 12px;
  background: var(--light-purple2);
  border-radius: 4px;
}

.CreateUser .avatar img {
  border-radius: 50%;
  width: 100px;
  margin: 10px;
}

.ShowUsers .num {
  color: var(--light-purple);
  padding: 0 0 0 10px;
}

.ShowUsers .create {
  border-radius: 50px;
}

.ShowUsers .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 18px 0;
}

.title h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.ShowUsers .title .center-block {
  width: 100%;
}

.ShowUsers .title .search {
  padding: 8px 12px;
  border-radius: 20px;
  border: solid 1px #aaa;
  width: 100%;
}

.ShowUsers .email {
  font-size: 14px;
  color: var(--light-purple)
}

.CreateUser .title,
.UpdateUserInfo .title,
.ShowUserDetails .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 18px 0;
}

.d-flex {
  display: flex;
}

/* UserList Styles */
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.user-card {
  text-align: center;
  background: var(--wht);
  border-radius: 10px;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 0;
  position: relative;
}

.user-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.076);
  background: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
}

.user-card .edit-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-card .card-content {
  width: 100%;
  position: relative;
}



.user-card-ui {
  text-align: left;
  background: #fff;
  border-radius: 10px;
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: unset;
}

.user-card-header {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  width: 100%;
  height: 150px;
  padding: 40px;
  position: relative;
  text-align: center;
}

.user-card-header h2 {
  text-align: center;
  width: 100%;
  color: var(--wht);
}

.user-card-header img {
  border-radius: 50%;
  border: solid 8px #fff;
  margin-top: 40px;
}

.user-card-body {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.leftRight {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.rcol,
.lcol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  display: flex;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.checkbox-layout {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.checkbox-layout .form-control {
  width: 20px;
  margin: 5px;
}

.card-container {
  margin: 0;
  border: solid 1px rgb(232, 232, 232);
  border-radius: 60px;
  overflow: hidden;
  width: 90px;
  height: 90px;
  display: flex;
}

.card-container img {
  width: 100px;
}

.desc {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc h2 {
  font-size: 1.1em;
  font-weight: 700;
  color: var(--purple);
}

.desc h2 a {
  color: var(--deep-purple);
}

.desc .h3 {
  color: var(--gray);
  background: var(--light-purple2);
  font-size: 0.8em;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.desc .contact .number {
  color: var(--gray);
  font-size: 1.2em;
  font-weight: 700;
}

@keyframes placeholder {
  0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 1200px 100px;
  min-height: 30px;
  width: 100%;
  margin: 5px 0 5px 0;
  border-radius: 3px;
}

.loading .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.loading .list .content-card {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 1200px 100px;
  text-align: left;
  border-radius: 10px;
  padding: 20px 10px;
  width: 234px;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .aside {
    display: flex;
  }
  .main-layout .content {
    width: 90vw;
  }
  .rcol,
  .lcol {
    width: 45%;
  }
  .ShowUsers,
  .CreateUser,
  .UpdateUserInfo {
    border-top-left-radius: 0;
  }
  .user-card {
    flex-direction: column;
  }
  .desc {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 991px) {
  .user-card {
    text-align: center;
    width: 25%;
    max-width: 230px;
    flex-direction: column;
    margin-right: 10px;
  }

  .list {
    flex-direction: row;
  }

  .card-container {
    margin: 0 auto;
  }
  
  .ShowUsers .title,
  .CreateUser .title,
  .UpdateUserInfo .title,
  .ShowUserDetails .title {
    flex-direction: row;
  }

  .ShowUsers .title .center-block {
    width: 35vw;
  }
}
